<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let categoria of categorias" detail (click)="verCategoria(categoria._id)">
      <ion-label>{{categoria.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
